<div class="row">
  <div class="col-lg-10 ml-auto mr-auto mb-4">
    <h1 class="text-center">Frequently Asked Questions</h1>
    <div class="tab-content" id="faq-tab-content">
      <div class="accordion" id="accordion-tab-1">
        <div class="card">
          <div class="card-header" id="accordion-tab-1-heading-1">
            <h5>
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-1" aria-expanded="false" aria-controls="accordion-tab-1-content-1">What is TierPoints.info?</button>
            </h5>
          </div>
          <div class="collapse show" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
            <div class="card-body">
              <p>TierPoints.info is a website, where people can easily find and share good flight deals for Tier Point Runs. The main goal is to help you save money and time finding flights for maintaining your British Airways / oneworld status.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="accordion-tab-1-heading-2">
            <h5>
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-2" aria-expanded="false" aria-controls="accordion-tab-1-content-2">Why is not everything free?</button>
            </h5>
          </div>
          <div class="collapse" id="accordion-tab-1-content-2" aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
            <div class="card-body">
              <p>You can use the website with a completely free account to see all runs as well as submitting new runs. The first 7 days after you created your account you can try the premium features. If you subscribe you can refund yourself within 30 days, if you don't like it. There are not many persons, who do Tier Point runs. It is a very niche target group. The subscription is primarly there to cover the costs of hosting the website.</p>
              <h5>But hosting a website doesn't cost much money?</h5>
              <p> Actually the website consists of an application and database running on a server. Hosting costs around 50 € / month. Domain registration, security checks and sending emails out to users costs additional money. All this doesn't include the cost of the time to develop and maintain the website. Experienced full stack developers receive salaries of around 100.000 € / year.</p>
              <h5>Don't be a free user - Maciej Cegłowsk:</h5>
              <blockquote style="background-color:rgb(244,244,244);border-radius:5px;padding:1em;"><p>Someone builds a cool, free product, it gets popular, and that popularity attracts a buyer. The new owner shuts the product down and the founders issue a glowing press release about how excited they are about synergies going forward. They are never heard from again.</p><p>Whether or not this is done in good faith, in practice this kind of 'exit event' is a pump-and-dump scheme. The very popularity that attracts a buyer also makes the project financially unsustainable. The owners cash out, the acquirer gets some good engineers, and the users get screwed.</p><p>To avoid this problem, avoid mom-and-pop projects that don't take your money! You might call this the anti-free-software movement. </p><p><strong>If every additional user is putting money in the developers' pockets, then you're less likely to see the site disappear overnight.</strong> If every new user is costing the developers money, and the site is really taking off, then get ready to read about those synergies.</p><p>To illustrate, I have prepared this handy chart:</p><table cellpadding="5" cellspacing="0"> <tbody><tr><th></th><th> Free </th><th> Paid</th></tr><tr><td><b>Stagnant</b></td><td style="background:#fee">losing money</td><td style="background:#efe">making money</td></tr><tr><td><b>Growing</b></td><td style="background:#fcc">losing more money</td><td style="background:#cfc">making more money</td></tr><tr><td><b>Exploding</b></td><td style="background:#faa">losing lots of money</td><td style="background:#afa">making lots of money</td></tr></tbody></table><br><p>What if a little site you love doesn't have a business model? Yell at the developers! Explain that you are tired of good projects folding and are willing to pay cash American dollar to prevent that from happening. It doesn't take prohibitive per-user revenue to put a project in the black. It just requires a number greater than zero.</p><p>I love free software and could not have built my site without it. But free web services are not like free software. If your free software project suddenly gets popular, you gain resources: testers, developers and people willing to pitch in. If your free website takes off, you lose resources. Your time is spent firefighting and your money all goes to the nice people at Linode.</p><p><strong>So stop getting caught off guard when your favorite project sells out! “They were getting so popular, why did they have to shut it down?” Because it's hard to resist a big payday when you are rapidly heading into debt. And because it's culturally acceptable to leave your user base high and dry if you get a good offer, citing self-inflicted financial hardship.</strong></p><p><strong>Like a service? Make them charge you</strong> or show you ads. If they won't do it, clone them and do it yourself. Soon you'll be the only game in town! </p></blockquote>
              <p>— <a href="https://blog.pinboard.in/2011/12/don_t_be_a_free_user/">Maciej Cegłowsk</a> from Pinboard.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="accordion-tab-1-heading-3">
            <h5>
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-3" aria-expanded="false" aria-controls="accordion-tab-1-content-3">What data does TierPoints.info save?</button>
            </h5>
          </div>
          <div class="collapse" id="accordion-tab-1-content-3" aria-labelledby="accordion-tab-1-heading-3" data-parent="#accordion-tab-1">
            <div class="card-body">
              <h5>Non-legally binding summary:</h5>
              <p></p>
              <ul>
                <li> Data about Tier Point runs</li>
                <li> User name, email and password </li>
                <li> Premium membership subscriptions use <%= link_to "Stripe", "https://stripe.com/", target: :_blank%> for secure and PCI-compliant payment processing.</li>
              </ul>
              <p>For more information read the <%= link_to "privacy policy", privacy_path %>.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="accordion-tab-1-heading-5">
            <h5>
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-5" aria-expanded="false" aria-controls="accordion-tab-1-content-5">I need an invoice/receipt</button>
            </h5>
          </div>
          <div class="collapse" id="accordion-tab-1-content-5" aria-labelledby="accordion-tab-1-heading-5" data-parent="#accordion-tab-1">
            <div class="card-body">
             <p>A receipt is sent by Stripe on every payment to your email address. If you need another copy please get in touch.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="accordion-tab-1-heading-6">
            <h5>
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-6" aria-expanded="false" aria-controls="accordion-tab-1-content-6">I would like to change my membership from monthly to yearly or vice versa</button>
            </h5>
          </div>
          <div class="collapse" id="accordion-tab-1-content-6" aria-labelledby="accordion-tab-1-heading-6" data-parent="#accordion-tab-1">
            <div class="card-body">
              <p>Please get in touch.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="accordion-tab-1-heading-7">
            <h5>
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-7" aria-expanded="false" aria-controls="accordion-tab-1-content-7">I would like a refund</button>
            </h5>
          </div>
          <div class="collapse" id="accordion-tab-1-content-7" aria-labelledby="accordion-tab-1-heading-7" data-parent="#accordion-tab-1">
            <div class="card-body">
              <p>If you subscribed within the last 30 days you should be able to refund yourself <%= link_to "here", subscription_path %>.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="accordion-tab-1-heading-8">
            <h5>
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-8" aria-expanded="false" aria-controls="accordion-tab-1-content-8">I want to close my account</button>
            </h5>
          </div>
          <div class="collapse" id="accordion-tab-1-content-8" aria-labelledby="accordion-tab-1-heading-8" data-parent="#accordion-tab-1">
            <div class="card-body">
              <p>You can <%= link_to "close your account here", edit_user_registration_path %>. If you are currently subscribed, you need to <%= link_to "cancel your subscription", subscription_path %> first.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="accordion-tab-1-heading-10">
            <h5>
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-10" aria-expanded="false" aria-controls="accordion-tab-1-content-10">How did this site get started?</button>
            </h5>
          </div>
          <div class="collapse" id="accordion-tab-1-content-10" aria-labelledby="accordion-tab-1-heading-10" data-parent="#accordion-tab-1">
            <div class="card-body">
              <p>After spending every year a lot of time finding Tier Point runs that fit my schedule, places I am interested in going as well as other criteria I thought there should be a better way than browsing many blogs and forums. Forums like <%= link_to "FlyerTalk", "https://www.flyertalk.com/", target: :_blank%> are great for discussing runs, but don't work well for searching and filtering runs. So I decided to develop this website as a side project.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="accordion-tab-1-heading-11">
            <h5>
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-11" aria-expanded="false" aria-controls="accordion-tab-1-content-11">What is the tech stack?</button>
            </h5>
          </div>
          <div class="collapse" id="accordion-tab-1-content-11" aria-labelledby="accordion-tab-1-heading-11" data-parent="#accordion-tab-1">
            <div class="card-body">
              <p>The application runs on Ruby on Rails and uses PostgreSQL as database. It's based on the <%= link_to "Jumpstart Rails template", "https://github.com/excid3/jumpstart", target: :_blank%>.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="accordion-tab-1-heading-12">
            <h5>
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-12" aria-expanded="false" aria-controls="accordion-tab-1-content-12">Feedback or more questions? Get in touch.</button>
            </h5>
          </div>
          <div class="collapse" id="accordion-tab-1-content-12" aria-labelledby="accordion-tab-1-heading-12" data-parent="#accordion-tab-1">
            <div class="card-body">
              <p><%= mail_to "contact@tierpoints.info", 'Please write me an email' %>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





